<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盲盒论坛</title>
</head>
<style>
    body {text-align: center}
</style>
<body>
    <h1 style="color: green">盲盒论坛</h1>
    <p style="color: green">性别：</p>
    <input type="radio" name="select_gender" value="0" checked/>所有
    <input type="radio" name="select_gender" value="1"/>男
    <input type="radio" name="select_gender" value="2"/>女<br />
    {% for mh in page %}
        <p style="color: green">姓名：{{ mh.name }}</p>
        <p style="color: green">年龄：{{ mh.age }}</p>
        <p style="color: green">地区：{{ mh.region }}</p>
        <form action="/detail/" method="post">
            {% csrf_token %}
            <input type = "hidden" name = "id" value="{{ mh.id }}" readonly/>
            <input type = "hidden" name = "way" value= "detail" readonly/>
            <input type = "submit" value = "详细内容">
        </form>
    {% endfor %}
    <form action="/mh_forum/" method="get">
    {% csrf_token %}
        <p style="color: green">页数：</p>
    {% for page in page_range %}
        <input type="radio" name="current_page" value="{{ page }}"/>{{ page }}
    {% endfor %}
    <br /><br />
        <input type = "submit" value = "翻页">
    </form>
    <br/><button onclick = "window.location.href = 'http://127.0.0.1:8000/'">退出</button>
<script>
    setInterval('judge()', 500);
</script>
</body>
</html>