<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<style>
    body {text-align: center}
</style>
<body>
    <h1 style="color: green">忘记密码</h1>
    <form method="post">
        {% csrf_token %}
        账号：<input type="text" name="account_input" placeholder="请输入用户名" id="account_input"/><br/>
        邮箱：<input type="text" name="mailbox_input" placeholder="请输入邮箱" id="mailbox_input"/><br/>
        新密码：<input type="password" name="password_input" placeholder="请输入密码" id="password_input"/><br/>
        确认密码：<input type="password" name="re_password_input" placeholder="请再一次输入密码" id="re_password_input"/><br/>
        验证码：<input type="password" name="verification_code_input" placeholder="请输入验证码" id="verification_code_input"/>
        <br/><br/><input type="submit" value="确定" disabled="disabled" id="sure"><br/><br/>
    </form>
    <form action="/mailbox/" method="post">
        {% csrf_token %}
        <input type="hidden" name="mailbox" id="mailbox"/><br/>
        <input type="submit" value="发送验证码" disabled="disabled" id="verification_code"><br/><br/>
    </form>
    <button onclick = "window.location.href = 'http://127.0.0.1:8000/'">退出</button><br/><br/>
</body>
<script>
    const register = document.getElementById('sure');
    const verification_code = document.getElementById('verification_code');
    function judge()
    {
        var account_input = document.getElementById('account_input').value;
        var mailbox_input = document.getElementById('mailbox_input').value;
        var password_input = document.getElementById('password_input').value;
        var re_password_input = document.getElementById('re_password_input').value;
        var verification_code_input = document.getElementById('verification_code_input').value;
        if(account_input.length > 0 && mailbox_input.length > 0 && password_input.length > 0 &&
            re_password_input.length > 0 && verification_code_input.length > 0)
        {
            register.removeAttribute('disabled');
        }
        else
        {
            register.setAttribute('disabled', 'disabled');
        }
        if(mailbox_input.length > 0)
        {
            const mailbox = document.getElementById('mailbox');
            mailbox.setAttribute('value', mailbox_input);
            verification_code.removeAttribute('disabled');
        }
        else
        {
            verification_code.setAttribute('disabled', 'disabled');
        }
    }
    setInterval('judge()', 500);
    {% for msg in messages %}
        alert('{{ msg.message }}');
        window.history.back(-1);
    {% endfor %}
</script>
</html>